@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    max-width: 1160px;
    margin: auto;
}
 

/* nav style start */
.logo{
    display: flex;
    gap: 17px;
    
}
.logo-title{
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    padding: 10px;

}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 186px;
    margin-top: 20px;
    margin-bottom: 20px;
   

}
.links{
    display: flex;
    gap: 32px;
}
 a{
    text-decoration: none;
    font-size: 1.25rem;
    line-height: 30px;
    
}
nav ul li{
    list-style: none;
}

.h-btn{
    color: rgb(254,163,1);
}
.a-btn{
    color: skyblue;
}
.f-btn{
    color: #05D4DF;

}
.ad-btn{
    color: #5D58EF;

}
 
 .primary-btn{
    color: #ffffff;
    background-color: rgb(254,163,1);
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 12px;
    padding: 10px 20px;
    width: 197px;
    height: 50px;
    text-align: center;
    
 }
 .toggle-btn{
    display: none;
   font-size: 1.5rem;
   cursor: pointer;


 }
 a:hover{
    color: indianred;
 }
/* hero kids section start */
.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}

.hero-title{
    font-size: 3.5rem;
    line-height: 61px;
    margin-bottom: 24px;
}
.empowering{
    color: orange;
}
.vision{
    color: skyblue;
}
.hero-description{
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 24px;
}
.hero-btn{
    color: #ffffff;
    background-color: black;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 12px;
    padding: 10px 20px;
    width: 197px;
    height: 50px;
    text-align: center;

}


 /* responsive desing start  */
@media screen and (max-width:576px) {
    .links,
    .primary-btn,
    .logo-title{
        display: none;
    }
    .toggle-btn{
        display: block;

        
    
    }
    nav{
      justify-content: space-between;
      padding: 20px;
     
    }
    .divider{
        width: 100%;
       
       background-color: orange;
       height: 0.5px;
    }

    .hero-section{
        flex-direction: column-reverse;
        padding: 0px 20px 0px 20px;
     
    }
    .hero-content{
        text-align: center;
    }
    .hero-section img{
        width: 100%;
    }
}